.expenses-filter {
  display: flex;
  color: white;
  padding: 0;
  margin: 1rem auto 2rem;
  width: 50rem;
  max-width: 98%;
  text-align: center;
}



.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.expenses-filter label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}