.expenses-filter {
  display: flex;
  color: white;
  padding: 0 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
}



.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: o.7rem 0;
}

.expenses-filter label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 0.5rem;
  /* margin-left: 0.8rem; */
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}