.expense-date {
  background: rgb(41, 39, 39);
  min-width: 5em;
  border-radius: 12px;
  border: 1px solid white;
  color: white;
  margin: 0.2em;
  padding: 0.4em 0.7em ;
}

.expense-date__year {
  font-size: 0.75em;
  padding-top: 3px;
}
.expense-month {
  font-size: 0.75em;
  font-weight: bold;
}
.expense-day {
  font-size: 1.5em;
  font-weight: bold;
}

